{% extends 'template.html' %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is -1">
                
                <div class="box"> 
                    <button class="button is-info is-light is-defult"><a href="{% url 'base' %}" >Back</a></button>
                    
                    
                    
                    <div class="field">
                        <br>
                        <table id="file_list" class="display">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <!-- <th>CBC </th>
                                    <th>CBC grading</th> -->
                                    <th>Description</th>
                                    <th>Created at</th>
                                    <th>Updated at</th>
                                    <!-- <th>Graded file</th>
                                    <th>Report PDF</th> -->
                                    
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in data_cbc %}
                                <tr>
                                    <td>{{ x.id}}</td>
                                    <td>{{ x.title }}</td>
                                    <td>{{ x.description }}</td>


                                    <!-- <td>{{ x.cbcrawfile }}</td>
                                    <td>{{ x.cbcgrading}}</td> -->
                                    <td>{{x.created_time}}</td>
                                    <td>{{x.updated_time}}</td>
                                    <td>
                                        <a href="{% url 'editinfo' x.pk %}" class="btn btn-outline-success">Edit </a>
                                       
                                    </td>
                                    
                                    <!-- <td>
                                        {% if x.cbcgrading %}
                                        <a href="{{ x.cbcgrading.url }}" download class="btn btn-outline-success">
                                            Download  </a>
                                        {% else %}
                                        <span class="text-muted">No file</span>
                                        {% endif %}
                                    </td>

                                    <td>
                                        <a href="{% url 'image-pdf-view' x.pk %}" class="btn btn-outline-success">Download </a>
                                       
                                    </td> -->

                                    <td>
                                        <a href="/delete/{{x.id}}" class="btn btn-danger">Delete</a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <script>
                            $(document).ready(function () {
                                $('#file_list').DataTable();
                            });
                        </script>


                    </div>
                    <button class="button is-info is-light is-defult"><a href="{% url 'deleteall' %}" >delete all</a></button>
                    <br>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}