{% extends 'template.html' %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is -1">
                
                <div class="box">
                    <button class="button is-info is-light is-defult"><a href="{% url 'edit' %}">Back</a></button>
                    <br>
                    <div class="section">
                        <div class="main">

                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Update" class="button is-info is-light is-defult">
                            </form>
                        </div>
                        
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}