{% load static %}



<!DOCTYPE html>
<html lang='en' dir='ltr'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CURE</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>




<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://cdn.shopify.com/s/files/1/0605/9730/5590/files/curelogoblue.png?v=1642362022" width="56"
          height="14">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'index' %}">
          Home
        </a>

        <a class="navbar-item">
          Documentation
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-info" href="{% url 'signup' %}">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="{% url 'index' %}">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</body>







<body class="layout-default">
  <section class="hero is-fullheight is-info ">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <article class="card is-rounded  ">
            <div class="card-content  has-text-centered ">
              <h1 class="title">

                <img src="https://cdn.shopify.com/s/files/1/0605/9730/5590/files/curelogoblue.png?v=1642362022"
                  alt="logo" width="100">
              </h1>


              <form method="POST">
                {% csrf_token %}
                <label>Username</label>
                <input type="text" id="username" name="username" placeholder="Username"><br>
                <label>Password</label>
                <input type="password" id="password" name="password" placeholder="Password"><br>
                <br>
                <button class="button is-info mb-2 pb-lg-2" type="submit">Login</button>
                <br>

                <p class="small mb-2 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
                <p>Don't have an account? <a href="#!" class="link-info">Register here</a></p>
              </form>








            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</body>


</html>